/*#slide1 {position: absolute; left:625px; top: 380px;} */

/*#slide2 {position: absolute; left:625px; top: 430px;} */
#controls {position: absolute; left: 640px; top: 50px;
border: 1px solid black; padding: 5px; right: 10px;
}
#canvasContainer { position:absolute; top: 70px; left:10px; 
width: 500px; height: 500px; border: 1px solid red;}


h2 {position: absolute;  top: 10px;}

