div#left-output {width: 60%;}

table#output-table {width: 100%;}

.lcol {width: 75%;}
.rcol {width: 25%; text-align: right;}

.pivotable {
    cursor: pointer;
}

[lastClicked] {
    background-color: lightgreen;
}
